@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: "黑体";
    font-size: 13px;
    color: #000000;
    line-height: 1.5;
    height: 100%;
    background-color: #ffffff;
          }
 html{
        width: 100%;
     height: 100%;
        outline: 0;
        -webkit-text-size-adjust: none;
 }
input[type=button], input[type=submit], input[type=file], button {
    cursor: pointer;
    -webkit-appearance: none;
}
input[type="text"], input[type="button"], img, a {
    border: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.banner{
    width: 100%;
}
ul{
    list-style: none;
}
.both{
    clear: both;
}
.clearLeft{
    clear: left;
}
#main{
    width: 100%;
}
.swiper-container{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
.banner img{
    display: block;
    width: 100%;
    height: auto;
}
/* swiper */
.pagination{
    position: absolute;
    bottom: 10px;
    z-index: 3;
    text-align: center;
    width: 100%;
}
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background: #ffffff;
    opacity: 1;
    margin-right: 6px;
}
.swiper-pagination-bullet-active {
    margin-right: 8px;
    width: 9px;
    height: 9px;
    opacity: 1;
    background: #e60012;
}
/*******详情页*********/
.goods-msg{
    padding: 10px 12px;
    background-color: #ececec;
}
.goods-msg-name{
    font-size: 16px;
    line-height: 1.2;
}
.goos-msg-price{
    color: #ff3100;
    font-size: 22px;
}
.goods-msg-fee{
    color: #9d9d9d;
}
.shop-msg{
    padding: 10px 12px 10px;
    border-top: 1px solid #6c6867;
}
.shop-msg-l{
    float: left;
}
.shop-msg-l-img{
    float: left;
}
.shop-msg-l-img a{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #a1a1a1;
}
.shop-level{
    width: 52px;
    margin-top: 5px;
}
.shop-level img{
    display: block;
    height: 9px;
}
.shop-msg-l-con{
    float: left;
    margin-left: 8px;
    margin-top: -2px;
}
.shop-msg-r{
    float: right;
    padding-right: 12px;
}
.shop-name{
    display: inline-block;
    padding-right: 18px;
    font-size: 15px;
    background: url("../images/renzheng-bg.png") no-repeat right center;
    background-size: 16px auto;
    line-height: 22px;
}
.shop-con-way{
    font-size: 15px;
    line-height: 20px;
}
.guarantee{
    height: 32px;
    line-height: 16px;
    font-size: 14px;
    width: 28px;
    padding-left: 28px;
    background: url("../images/baozhang.png") no-repeat left center;
    background-size: 26px auto;
    margin-left: 6px;
}
.has-deal{
    font-size: 12px;
    line-height: 1.4;
}
.has-deal-money{
    text-indent: 6px;
    line-height: 1.4;
    font-size: 12px;
    color: #ff0000;
}
.go-drup{
    height: 36px;
    background-color: #ececec;
    padding: 10px 12px;
    position: relative;
}
.go-drup h3{
    position: absolute;
    display: inline-block;
    font-size: 14px;
    width: 190px;
    left: 50%;
    margin-left: -95px;
    z-index: 2;
    line-height: 36px;
    top: 13px;
    background-color: #ececec;
    text-align: center;
}
.go-drup .line{
    height: 1px;
    margin-top: 19px;
    background-color: #6c6867;
}
.return-back,.go-cart{
    position: fixed;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background-color: #6b6766;
    top: 20px;
    z-index: 100;
}
.return-back{
    left: 12px;
}
.go-cart{
    right: 12px;
}
.return-back img,.go-cart img{
    display: block;
}
.return-back img{
    width: 10px;
    height: auto;
    left: 10px;
    margin: 4px 0 0 8px;
}
.go-cart img{
    width: 18px;
    height: auto;
    margin: 5px auto;
}
.footer-fix{
    position: fixed;
    bottom: 0px;
    height: 48px;
    z-index: 100;
    width: 100%;
    left: 0px;
    background-color: #fff;
}
.ope-shop{
    width: 40%;
    float: left;
}
.ope-shop a,.ope-good a{
    display: inline-block;
    float: left;
    width: 50%;
}
.ope-shop a{
    height: 40px;
    margin-top: 6px;
}
.shop-index{
    background: url("../images/shop-index-bg.png") no-repeat center center;
    background-size: auto 90%;
}
.shop-add{
    background: url("../images/add-shop-bg.png") no-repeat center center;
    background-size: auto 90%;
}
.ope-good{
    width: 60%;
    float: left;
}
.ope-good a{
    height: 48px;
    font-size: 15px;
    color: #ffffff;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
}
.ope-good a.add-cart{
    background-color: #ff9402;
}
.ope-good a.go-buy{
    background-color: #ff5000;
}
.imgDetails{
    width: 100%;
    display: none;
}
.imgDetails img{
    display: block;
    width: 100%;
    height: auto;
}
#main{
    position: relative;
    top: 0px;
    min-height: 100%;
    box-sizing: border-box;
   padding-bottom: 50px;
}
/**********购物车**************/
.header-simple{
    height: 50px;
    width: 100%;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
}
.h10{
    height: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #e0e0e0;
}
.h6{
    height: 6px;
    background-color: #eeeeee;
}
/*.cart-shop{
    margin: 0 12px;
}*/
.cart-shop-name{
    height: 46px;
    margin: 0 12px;
}
.cart-shop-name-l{
    float: left;
    padding: 11px 0;
}
.cart-shop-name-l label,.cart-shop-goods label{
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    box-sizing: border-box;
    border: 1px solid #a5a5a5;
    margin-right: 12px;
    background-color: #fff;
}
.cart-shop-name-l label{
    float: left;
}
.cart-shop-name-l label.checked,.cart-shop-goods.checked label{
   background-color: #ff5500;
    border: none;
}
.cart-shop-name-l label input,.cart-shop-goods label input{
    display: none;
}
.cart-shop-name-l .shop-name-c {
    float: left;
    line-height: 24px;
}
.cart-shop-name-l .shop-name-c img{
    float: left;
    height: 16px;
    width: auto;
    margin-right: 8px;
    margin-top: 4px;
}
.cart-shop-name-l .shop-name-c a{
    display: inline-block;
    float: left;
    padding-right: 14px;
    font-size: 15px;
    background: url("../images/jian.png") no-repeat right center;
    background-size: 8px auto;
}
.cart-shop-name .delete{
    float: right;
    font-size: 14px;
    display: inline-block;
    margin-top: 9px;
    line-height: 28px;
}
.cart-shop-goods{
    border-top: 1px solid #ebebeb;
    display: -webkit-box;
    padding: 5px 12px;
}
.cart-shop-goods-link{
    display: block;
    width: 78px;
    height: 78px;
}
.cart-shop-goods label{
    margin-top: 24px;
}
.cart-shop-goods-link img{
    width: 100%;
    height: 100%;
}
.cart-shop-goods-msg{
    margin-left: 8px;
    -webkit-box-flex: 1;
    font-size: 14px;
}
.cart-shop-goods-msg a{
    margin-top: 4px;
    line-height: 20px;
    display: block;
    height: 40px;
    overflow: hidden;
    color: #000000;
}
.num-msg{
    margin-top: 12px;
}
.num-msg .price{
    color: #ff0000;
    font-style: normal;
}
.num-msg .price:before,.final-price em:before{
    content: "￥";
}
.l{
    float: left;
}
.num-msg .num{
    float: right;
}
.num-msg .num:before{
    content: "X";
}
.cart-section{
    padding-bottom: 88px;
}
.cart-checkout{
    position: fixed;
    bottom: 36px;
    height: 48px;
    z-index: 100;
    width: 100%;
    left: 0px;
    background-color: #fff;
    font-size: 18px;
}
.cart-checkout label{
    margin: 12px;
    display: block;
    line-height: 24px;
    width: 80px;
    position: absolute;
    left: 0px;
}
.cart-checkout label em{
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    box-sizing: border-box;
    border: 1px solid #a5a5a5;
    margin-right: 12px;
    float: left;
}
.cart-checkout label.checked em{
    background-color: #ff5500;
    border: none;
}
.cart-checkout label span{
    float: left;
}
.cart-checkout label input{
    display: none;
}
.cart-checkout .final-price{
    display: block;
}
.cart-checkout button{
    outline: none;
    border: none;
    height: 100%;
    color: #ffffff;
    background-color: #ff5500;
    width: 80px;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 18px;
}
.final-price{
    display: block;
    text-align: center;
}
.final-price em{
    font-style: normal;
    color: #ff0000;
    line-height: 48px;
}
.footer{
    position: fixed;
    width: 100%;
    height: 36px;
    left: 0px;
    bottom: 0px;
    background-color: #ffffff;
}
.footer-link{
    width: 90%;
    margin: 0 auto;
    height: 100%;
}
.footer-link a{
    display: block;
    width: 17%;
    float: left;
    height: 100%;
    margin: 0 4%;
}
.footer-link a:nth-of-type(1){
    background: url("../images/foot-index-bg.png") no-repeat center center;
    background-size: auto 34px;
}
.footer-link a:nth-of-type(2){
    background: url("../images/foot-buy-bg.png") no-repeat center center;
    background-size: auto 34px;
}
.footer-link a:nth-of-type(3){
    background: url("../images/foot-cart-bg.png") no-repeat center center;
    background-size: auto 34px;
}
.footer-link a:nth-of-type(4){
    background: url("../images/foot-my-bg.png") no-repeat center center;
    background-size: auto 34px;
}
/*******收货地址**********/
#You_header{
    padding-top: 4px;
    width: 100%;
    height: 46px;
    background-color: #eeeeee;
    color: #fff;
    text-align: center;
    overflow: hidden;
    position: relative;
}
#You_prev {
    position: absolute;
    width: 22px;
    height: 38px;
    background: url("../images/back.png") no-repeat 10px center;
    background-size: 11px auto;
    padding-left: 10px;
    padding-right: 6px;
    font-weight: bold;
    z-index: 200;
    top: 5px;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
.You_login {
    font-size: 18px;
    display: inline-block;
    font-weight: bold;
    line-height: 46px;
    color: #111111;
}
#You_header a.save-add{
    font-size: 14px;
    color: #111111;
    display: block;
    position: absolute;
    right: 12px;
    top: 13px;
    height: 24px;
    line-height: 24px;
}
.newAddress {
    width: 100%;
    box-sizing: border-box;
    color: #111111;
}
.address {
    padding: 6px 10px;
    display: -webkit-box;
    border-bottom: 1px solid #ebebeb;
}
.address span{
    display: block;
    line-height: 32px;
    width: 70px;
    height: 32px;
    font-size: 15px;
}
.addressDetail .textarea {
    overflow-y: visible;
    border: none;
    resize: none;
    height: 40px;
    line-height: 20px;
    font-size: 14px;
    outline: none;
    padding-top: 2px;
    margin-top: 3px;
}
.address input {
    line-height: 24px;
    height: 24px;
    font-size: 14px;
}
.address input, .addressDetail .textarea {
    display: block;
    padding: 4px 0;
    -webkit-box-flex: 1;
    text-indent: 2px;
}
.address ::-webkit-input-placeholder { /* WebKit browsers */
    color: #c6c3c3;
}
.areaChoice {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -120%;
    background-color: #ffffff;
    display: -webkit-box;
    -webkit-transition: left .3s linear;
    -moz-transition: left .3s linear;
    -o-transition: left .3s linear;
    transition: left .3s linear;
}
.animal {
    z-index: 201;
    left: 0;
    opacity: 1;
}
.areaChoice .return {
    width: 40px;
    background: #7c7c7c url(../images/area_return.png) no-repeat center;
    height: 100%;
}
.areaChoice_right {
    -webkit-box-flex: 1;
    position: relative;
}
.areaChoice_right p {
    text-align: center;
    padding: 12px 0;
    font-size: 16px;
    border-bottom: 1px solid #e8e8e8;
    height: 24px;
    line-height: 24px;
}
.return_nex {
    float: left;
    display: block;
    width: 20px;
    height: 24px;
    background: url(../images/area_return2.png) no-repeat 4px center;
    background-size: 18px auto;
}
.areaUl {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    position: fixed;
}
.usercity {
    display: none;
    background-color: #ffffff;
    padding-bottom: 49px;
}
.usercity li {
    height: 48px;
    border-bottom: 1px solid #e8e8e8;
    line-height: 49px;
    text-indent: 14px;
    color: #1a1a1a;
    font-size: 15px;
    background-color: #ffffff;
}
.usercity li.active{
    background-color: #d2d2d2;
}
/********收货地址列表*******/
.address-insert{
   float: right;
    margin-right: 12px;
    margin-top: 12px;
}
.address-insert img{
    width: 20px;
}
.address-list{
    width: 100%;
    font-size: 15px;
    color: #000000;
}
.address-intro{
    padding: 2px 12px 4px;
    border-bottom: 1px solid #efefef;
}
.address-intro span{
    display: block;
    line-height: 24px;
}
.address-intro .name{
    float: left;
}
.address-intro .mobile{
    float: right;
}
.address-ope{
    font-size: 13px;
    padding: 10px 12px;
    line-height: 24px;
}
.address-ope label{
    float: left;
    display: block;
    padding-left: 20px;
    height: 24px;
    background: url("../images/check-add-no.png") no-repeat left center;
    background-size: 15px auto;
}
.address-ope label.checked{
    color: #de4e38;
    background: url("../images/check-add.png") no-repeat left center;
    background-size: 15px auto;
}
.address-ope label input{
    display: none;
}
.address-ope span{
    height: 24px;
    float: right;
    padding-left: 22px;
    background: url("../images/delete.png") no-repeat left center;
    background-size: 17px auto;
}
/************搜索**********/
body.f1f1f1{
    background-color: #f1f1f1;
}
#You_header.searchHeader{
    background-color: #fff;
}
.search-animal{
    margin: 12px;
}
.search-animal input,.form-div input.text-input{
    width: 100%;
    height: 46px;
    line-height: 46px;
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: "宋体";
    border-radius: 8px;
    padding-left: 40px;
}
.search-animal input{
    font-size: 15px;
    background:#fff url("../images/search.png") no-repeat 10px center;
    background-size: 22px auto;
    color: #adafaf;
}
.search-result{
    color: #939898;
    margin:  0 0 0 20px;
    font-size: 12px;
}
.search-result h3{
    height: 24px;
    line-height: 24px;
}
.search-result ul{
    float: left;
}
.search-result ul li{
    margin: 12px 16px 0 0;
    float: left;
    padding: 0 16px;
    line-height: 26px;
    height: 26px;
    border-radius: 8px;
    border: 1px solid #d2d1d2;
}
.search-result ul li a{
    color: #939898;
    display: block;
    width: 100%;
}
.form-div{
    margin: 12px 16px 0 16px;
}
.form-div input.text-input{
    color: #1a1818;
    background:#fff url("../images/mobile-icon.png") no-repeat 10px center;
    background-size: 18px auto;
    font-size: 14px;
}
.form-div input.code-input,.form-div input.code-btn,.form-div input.submit-btn{
    height: 46px;
    line-height: 46px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "宋体";
}
.form-div input.code-input{
    float: left;
    width: 50%;
    border-radius: 8px 0 0 8px;
    padding-left: 30px;
    background-color: #ffffff;
}
.form-div input.code-btn{
    float: left;
    width: 50%;
    background-color: #8fc31f;
    text-align: center;
    color: #ffffff;
    border-radius: 0 8px 8px 0;
}
.form-div input.submit-btn{
    width: 100%;
    background-color: #fc4a00;
    border-radius: 8px;
    text-align: center;
    color: #ffffff;
}
.pwd-validate{
    margin-top: 18px;
    text-align: center;
}
.pwd-validate a{
    color: #817b7b;
    font-size: 15px;
}