#test{
	display: none;
}
#res-ul{
	left: 330px;
	top: 10%;
	text-align: center;
	z-index: 9;
	width: 70px;
}
#res-ul::after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: 18px;
	left: 53px;
	border-bottom: none;
	border-top: 5px solid #000;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}
#res-ul li{
	display: block;
	height:40px;
	line-height: 40px;
	width: 100%;
	position: relative;
	left: -15px;
}